################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FIndMeARoomatate/FileContentIndex/064afa15-fc4b-4049-8fa0-6061faf80a58.vsidx
/.vs/FIndMeARoomatate/FileContentIndex/267d7af9-95a1-42c3-88b2-4990947e122e.vsidx
/.vs/FIndMeARoomatate/FileContentIndex/d1add647-fdf5-4a12-815d-a348c448a773.vsidx
/.vs/FIndMeARoomatate/FileContentIndex/be4b7584-71ec-4252-816a-f06716e3e58f.vsidx
/.vs/FIndMeARoomatate/FileContentIndex/7d2d07ed-823d-453d-90e6-8ae85dc66340.vsidx
/.vs/FIndMeARoomatate/FileContentIndex/6710dfd0-0eda-4ef7-af06-6f938f935da3.vsidx
/.vs/FIndMeARoomatate/FileContentIndex/61d845f7-bde3-4324-9a0c-70f01731427b.vsidx
/.vs/FIndMeARoomatate/FileContentIndex/49543e89-6e55-4ace-8958-2bcfcff7303c.vsidx
